* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
    
  width: 300px;
  border: 1px solid #7d7b7b;
  border-radius: 8px;
  padding: 16px;
  background-color: #f3f2f2;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  


}

img {
  width: 100%;
  border-radius: 8px;
  border:solid black 2px;
 
}
h1 {
  font-size: larger;
  padding-top: 1rem;
}
p {
  padding-top: 1rem;
  font-size: 14px;
}

h2 {
  padding-top: 1rem;
  color: rgb(239, 58, 58);
  font-weight: lighter;
  font-size: 15px;
}
button {
  background-color: hsl(26, 100%, 50%);
  color: #fff;
  margin-top: 1rem;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.5rem;
  

}
section{opacity: 0.6;}